body{
    font-family: arial;
    font-size: 20px;
    text-align: center;
    color:black;
    margin: 0;
    padding: 0;
}

#container{
    width:70%;
    padding: 1em;
    border: 1px solid gray;
    text-align: left;
    margin: 0 auto;
}

