body{
    font-family: arial;
    font-size: 20px;
    text-align: center;
    color:black;
    margin: 0;
    padding: 0;
}

#container{
    width:70%;
    padding: 0;
    border: 1px solid gray;
    text-align: left;
    margin: 0 auto;
}

#post {
    padding: 1em;
}

header{
    background-color: #33A;
    color: white;
    margin: 0;
    padding: 0.5em;
    box-shadow: 0px 2px 20px 0px rgb(0, 0, 0.5);
}

